body {
    padding: 0;
    margin: 0;
    background-color: #1b1b1b;
}

canvas {
    display: block;
    margin: 0 auto;
}

div {
    text-align: center;
    margin-top: 20px;
    color: white;
}

.message {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    color: #3fb04e;
}

.show {
    opacity: 1;
}